<a href="https://colab.research.google.com/github/vignesh7-byte/DataMining/blob/main/adm_lab__06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

# 1. Data Encoding
print("\n--- Data Encoding ---")
# Example data
data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)

# Label Encoding
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])

# One-hot Encoding
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df_encoded = pd.concat([df, one_hot_encoded], axis=1)
print(df_encoded)

# 2. Creating Derived Columns
print("\n--- Creating Derived Columns ---")
data_dob = {'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df_dob = pd.DataFrame(data_dob)

# Convert Date_of_Birth to datetime
df_dob['Date_of_Birth'] = pd.to_datetime(df_dob['Date_of_Birth'])

# Calculate Age
current_year = datetime.now().year
df_dob['Age'] = current_year - df_dob['Date_of_Birth'].dt.year
print(df_dob)

# 3. Grouping and Aggregating Data
print("\n--- Grouping and Aggregating Data ---")
data_group = {'Category': ['A', 'A', 'B', 'B', 'C'], 'Value': [10, 20, 10, 30, 40]}
df_group = pd.DataFrame(data_group)

# Group by and aggregate
grouped = df_group.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

# Pivot table
pivot = df_group.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

--- Data Encoding ---
  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

--- Creating Derived Columns ---
    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

--- Grouping and Aggregating Data ---
Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0